.form_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #2f2f2f7d;
    backdrop-filter: blur(5px);
}

.form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    margin-top: 50px;
    background-color: #fafafa;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    position: relative;
}

.form_box h1 {
    color: #222;
    margin-bottom: 1rem;
}


/* input form */

.inputCustom {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputCustom input {
    padding: 12px;
    margin: 15px 0px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
}

.inputCustom label {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 5px;
    transform: translateY(26px);
    transition: 0.5s, color 0.3s;
}

.inputCustom textarea {
    padding: 12px;
    margin: 15px 0px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    outline: none;
    height: 200px;
}

.inputCustom input:focus~label,
textarea:focus~label {
    transform: translateY(-6px) scale(.9);
    transform-origin: top left;
    color: #d19a22;
    background-color: #fafafa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1px 4px;
}

.inputCustom input:not(:placeholder-shown)~label,
textarea:not(:placeholder-shown)~label {
    transform: translateY(-6px) scale(.9);
    transform-origin: top left;
    color: #46c63d;
    background-color: #fafafa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1px 4px;
}

@media screen and (max-width: 768px) {
    .form_box {
        width: 340px;
    }

    .submit {
        font-size: 1.3rem;
        height: 50px;
    }
}