* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222;
}

i{
  color: #fafafa;
}

body {
  text-align: center;
  /* background-color: #e5e5e5;
  background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
  background-size: 64px 112px;
  background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px; */
  background-color: #ffffff;
  background-image:  linear-gradient(#c1cfd2 0.8px, transparent 0.8px), linear-gradient(90deg, #c1cfd2 0.8px, transparent 0.8px), linear-gradient(#c1cfd2 0.4px, transparent 0.4px), linear-gradient(90deg, #c1cfd2 0.4px, #ffffff 0.4px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

a{
  text-decoration: none;
  color: #222222c8;
  font-size: 1rem;
  transition: 0.5s;
  margin: 0.5rem 0 0 0;
}

a:hover{
  color: #3d7fc6;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 12rem 0 0 0;
  /* padding-top: 12rem; */  
}

.box{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.box h1{
    font: bold 80px/1 arial;
    text-transform: uppercase;
}

.box h2{
  color: #222222c8;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.submit {
  width: 100%;
  height: 60px;
  padding: 0.5rem;
  border: none;
  background-color: #3d7fc6;
  color: #fafafa;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
  cursor: pointer;
  transition: 0.5s;
}

.submit:hover {
  background-color: #46c63d;
}

.close {
  color: #fafafa;
  background-color: #c63d3d;
  border: none;
  border-radius: 0.4rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  background-color: #ff5e5e;
}

.textShadow{
  text-shadow: 0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.boxShadow{
  box-shadow: 0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

@media only screen and (max-width: 730px) {
  .container{
      margin: 8rem 0 0 0;
  }
  .box h1{
    font: bold 70px/1 arial;
  }
}