.contact_form{
    display: flex;
    padding: 1rem;
}

.contact_info{
    width: 320px;
    margin-right: 1rem;
}
.contact_info img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.contact_info p{
    margin: 1rem 0;
}

.contact_info a{
    margin: 0 0.7rem;
    font-size: 2rem;
    cursor: pointer;
    color: #3d7fc6;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.contact_info a:hover{
    color: #46c63d;
}

.contact_letter{
    width: 320px;
    margin: 0 0 0 1rem;
}

@media only screen and (max-width: 800px) {
    .contact_form{
        flex-direction: column;
        padding: 0.5rem;
    }

    .contact_info{
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    .contact_info a{
        font-size: 1.7rem;
    }

    .c_social{
        width: 100%;
        margin: 0;
    }

}